body {
  font-family: monospace;
  font-size: 16px;
  background-color: #EDEDE9;
}
h1 {
  font-size: 3vmax;
  margin: 0 0 20px;
  font-family: monospace;
}
.group {
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.group-buttons{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.button{
  all: unset;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 2.5vmin;
  margin: 4px 2px;
  border: 2px solid rgb(117, 110, 110);
}
button:hover{
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}
button:nth-child(1):visited{
  background-color: black;
}
#start-callbacks{
  background-color: #F9844A;
}
#start-promises{
  background-color: #277DA1;
}
#start-async-await{
  background-color: #43AA8B;
}

#group-desc{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.group-pattern, .group-time{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 45%;
  margin: 5px auto 5px;
  height: 50px;
  line-height: 4px;
}

.flex {
  display: flex;
  justify-content: center;
}
.service {
  border: 1px solid black;
  box-shadow: 5px 5px #ddd;
  height: calc(120px + 2wmin);
  margin: 20px;
  padding: 20px;
}
div{
  font-size: 3vmin;
  font-family: ui-monospace;
}
